:root
{
    --bg-color: #fffcfc;
    --text-color: #1b0326;
    --primary-color: #ba5044;
    --secondary-color: #7a1c4b;
    --border-radius: 5px;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main
{
    padding: 20px;
    border-radius: var(--border-radius);
    max-width: max-content;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

hr
{
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color);
}

input, select
{
    border-radius: var(--border-radius);
    border-color: var(--primary-color);
    /* border-width: 2px; */
    border-style: none;
    outline: none;
    box-shadow: var(--primary-color) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 5px;
    transition: 0.3s;
}

input:hover, select:hover
{
    box-shadow: var(--secondary-color) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

form
{
    border-radius: var(--border-radius);
    padding: 10px;
}

fieldset
{
    border-radius: var(--border-radius);
    padding: 30px;
    border: none;
}

.formulario
{    
    display: flex;

    gap: 20px;

    align-items: flex-end;
}

.headerButton
{
    display: flex;
}

.campoForm
{
    display: flex;

    flex-direction: column;

    max-width: max-content;

    gap: 5px;
}

.btnPesquisar 
{
    background-color: var(--primary-color);
    padding: 4px 20px;

    font-weight: 900;
    color: var(--bg-color);

    margin-left: 10px;
    transition: 0.3s;
}

.btnPesquisar:hover 
{
    cursor: pointer;
    background-color: var(--secondary-color);
}

.botoesForm input
{
    background-color: var(--primary-color);
    padding: 10px;

    font-weight: 900;
    color: var(--bg-color);

    margin-right: 10px;
    transition: 0.3s;
}

.botoesForm input:hover
{
    cursor: pointer;
    background-color: var(--secondary-color);
}

.tbInv table
{
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
}

.tbInv th,
.tbInv td
{
    border: none;
    padding: 20px;
    text-align: left;
}

.tbInv th
{
    background-color: #1b032622;
}

.tbInv td
{
    background-color: #1b032611;
}

/* canto superior esquerdo */
.tbInv th:first-child
{
    border-radius: var(--border-radius) 0 0 0;
}

/* canto superior direito */
.tbInv th:last-child
{
    border-radius: 0 var(--border-radius) 0 0;
}

.tbInv tr:last-child td:first-child
{
    border-radius: 0 0 0 var(--border-radius);
}

/* canto superior direito */
.tbInv tr:last-child td:last-child
{
    border-radius: 0 0 var(--border-radius) 0;
}
